<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Actualizar Libro</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="txt_title" value="{{book.title}}">
        <br>
        <input type="number" name="int_price" value="{{book.price}}">
        <br>
        <input type="text" name="txt_description" value="{{book.description}}">
        <br>
        <input type="submit" value="Actualizar">
    </form>

    <a href="{% url 'catalogue' %}">Volver</a>
    
</body>
</html>