{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="{% static 'Images/Book.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/Styles.css'%}">
</head>
<body>
    
    <div class="sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'Images/navbar-icon.jpg' %}" id="nav-icon" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'catalogue' %}">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Inicio de sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Registrar usuario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'carrito' %}">Carrito de compras</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder=" Buscar libro..." aria-label="Busqueda">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>
      </div>

      <form id="registerForm" action="">
        <div class="imgcontainer">
            <img src="{% static 'Images/Register-Avatar.jpg' %}" alt="Avatar" class="avatar">
          </div>
    
        <div class="container">
          <h1>Registro</h1>
          <hr>
          <label for="usuario"><b>Nombre de Usuario</b></label>
          <input type="text" placeholder="Ingrese Su Nombre de Usuario" name="usuario" id="usuario"> 
          <label for="email"><b>Correo electrónico</b></label>
          <input type="text" placeholder="Ingrese correo electrónico" name="email" id="email">
    
          <label for="psw"><b>Contraseña</b></label>
          <input type="password" placeholder="Ingrese contraseña" name="psw" id="psw">
    
          <label for="psw-repeat"><b>Vuelva a ingresar su contraseña</b></label>
          <input type="password" placeholder="Ingrese contraseña" name="psw-repeat" id="psw-repeat" >
          <hr>
    
          <p>Al crear su cuenta acepta nuestros <a class="terminos">Terminos y Condiciones</a>.</p>
          <button type="submit" class="registerbtn">Registrar</button>
        </div>
    
        <div class="container signin">
          <p>¿Ya tienes una cuenta? <a class="login_p" href="login.html">Inicio de sesión</a>.</p>
        </div>
      </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>